services:
  - type: web
    name: trading-system-frontend
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: VITE_API_URL
        scope: build
        value: https://system-100-backend.onrender.com/api
